/* Estilos exclusivos de la página de la tienda. */

/* Botón para añadir el producto al carrito. */
.tarjetaServicio button {
    background: var(--amarillo);
    border: 0;
    border-radius: 8px;
    color: #3c2f00;
    cursor: pointer;
    padding: 10px;
}

.tarjetaAtraccion button {
    background: var(--celeste);
    border: 0;
    border-radius: 8px;
    color: rgba(17, 18, 59, 0.837);
    cursor: pointer;
    padding: 10px;
}